body {
    font-family: 'Lato', sans-serif;
    width: 1320px;
}

header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 40px 100px 0 100px;
    align-items: center;

}

.header-info {
    margin-right: 70px;


}

.header-info h3 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;

}

.header-info p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 10px 30px 0;
}

.primary-btn {
    color: #FFF;
    font-size: 15px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 16px 40px;
}

.header-img img {
    width: 550px;
    height: 600px;
}

/* header style end here */
.fea-flowers {
    padding: 200px;
    text-align: center;
}

.primary-title {
    color: #272727;
    font-size: 26px;
    font-weight: 900;
}

.primary-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    line-height: 30px;
    padding: 0 140px;
}

.fea-img {
    display: flex;
    justify-content: center;
}

.fea-img-box img {
    width: 260px;
    height: 360px;
    padding: 110px 35px 0 35px;
    margin: 10px;
    border-radius: 300px 300px 0px 0px;

}

.img-bg-color1 img {
    background: rgba(167, 33, 98, 0.15);
}

.img-bg-color2 img {
    background: rgba(5, 151, 160, 0.15);
}

.img-bg-color3 img {
    background: rgba(167, 33, 98, 0.15);
}

.fea-img-box {
    color: #272727;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}